# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Images of cdrom / floppy / harddrive / etc.
*.iso
*.bin
*.img

# ignore created cdrom structure
iso/**

# Zone.Identifier files
*.Zone.Identifier

# ignore the kernel itself
kernel/kernel
